/* Light Mode */
body {
    background-color: #ffffff;
    color: #000000;
}

.navbar {
    background-color: #343a40;
    color: #ffffff;
}

.card {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dddddd;
}

.card .btn {
    background-color: #007bff;
    color: white;
    border: none;
}

.card .btn:hover {
    background-color: #0056b3;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #1c1c1c;
    color: #ffffff;
}

body.dark-mode .card {
    background-color: #333;
    color: white;
    border: 1px solid #444;
}

body.dark-mode .card .btn {
    background-color: #555;
    color: white;
    border: none;
}

body.dark-mode .card .btn:hover {
    background-color: #777;
}

/* Light Mode */
hr {
    border-color: #dddddd;
    border-width: 1px;
}

/* Dark Mode */
body.dark-mode hr {
    border-color: #444444;
    border-width: 1px;
}

.btn-search {
    color: #ffffff;

}

.btn-logout {
    color: #000000 !important;
}