<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='dark-mode.js') }}"></script>
</head>

<body>
    <div class="container">
        {% if current_user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="{{ url_for('homepage') }}">Movie App</a>

            <!-- Navbar Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible Navbar Content -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    <!-- Home button -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('homepage') }}">Home</a>
                    </li>
                    <!-- Dashboard button -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a> 
                    </li>
                    <!-- Settings button -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('settings') }}">Settings</a> 
                    </li>
                </ul>

                <!-- Search Form -->
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="get">
                    <label for="search-input" class="sr-only">Search</label>
                    <input 
                        class="form-control mr-sm-2" 
                        type="search" 
                        id="search-input" 
                        name="search" 
                        placeholder="Search for movies" 
                        aria-label="Search"
                    >
                    <button class="btn btn-outline-success my-2 my-sm-0 btn-search" type="submit">Search</button>
                </form>
                

                <ul class="navbar-nav ml-auto">
                    <!-- Logout button -->
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger btn-logout" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}

        <!-- Page Content -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- Bootstrap Js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>