{% extends "base.html" %}

{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='remove_like.js') }}"></script>
</head>

<div class="container">
    <h1 class="my-4">Welcome, {{ username }}!</h1>

    <h2>Your Liked Movies</h2>

    {% if liked_movies %}
    <div class="row">
        <!-- Displaying movie cards -->
        {% for movie in liked_movies %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }} Poster">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">Release Date: {{ movie.release_date }}</p>
                    <p class="card-text text-truncate">{{ movie.overview }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <!-- View details button -->
                    <a href="{{ url_for('movie', movie_id=movie.id) }}" class="btn btn-secondary btn-sm">View Details</a>
                    
                    <!-- Remove like button -->
                    <button class="btn btn-danger btn-sm remove-like-button" data-movie-id="{{ movie.id }}">Remove from Likes</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>You haven't liked any movies yet.</p>
    {% endif %}
</div>

{% endblock %}
