{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Settings</h1>
    <p>Update your username or password below:</p>

    <form method="POST" action="{{ url_for('settings') }}">
        <!-- CSRF Token -->
        {{ form.hidden_tag() }}

        <!-- Update Username -->
        <div class="form-group">
            <label for="username">New Username:</label>
            {{ form.username(class="form-control", placeholder="Enter new username", autocomplete="username") }}
        </div>

        <!-- Update Password -->
        <div class="form-group">
            <label for="password">New Password:</label>
            {{ form.password(class="form-control", placeholder="Enter new password", autocomplete="new-password") }}
        </div>

        <button type="submit" class="btn btn-warning">Update</button>
    </form>
    <hr>
    <button id="toggle-dark-mode" class="btn btn-secondary ml-auto">Toggle Dark Mode</button>
</div>
{% endblock %}
