{% extends "base.html" %}

{% block content %}

<!-- Sign up Page -->
<h2>Sign Up</h2>
<form method="POST" action="{{ url_for('signup') }}">
    {{ form.hidden_tag() }}
    <!-- Username input -->
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
    </div>

    <!-- Password input -->
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>

    <!-- Submit button -->
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

<!-- Back to login page button -->
<a href="{{ url_for('login') }}" class="btn btn-secondary">Back</a>
<br>

<!-- Flash alerts -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class="flashes">
    {% set category, message = messages[-1] %}
    <li class="alert alert-{{ category }}">{{ message }}</li>
</ul>
{% endif %}
{% endwith %}

{% endblock %}